html{
  background-color: rgb(54, 54, 54);
}

.calc-container{
  padding: 5vh 10vw;
  display: flex;
  justify-content: space-between;
}

.output-container{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-height: 72vh;
  color: white;
  letter-spacing: .25vh;
  font-weight: bold;
  background-color: rgb(50, 49, 63);
  font-size: min(3vh, 28px);
  text-align: right;
}

#output-current{
  padding: 1vh;
  border-color: black;
  border-style: solid;
  border-width: 2px 1px 1px 2px;
  border-top-left-radius: 10px;
  overflow: auto;
}

#output-history{
  border-color: black;
  border-style: solid;
  white-space: pre-wrap;
  padding: 2vh;
  display: flex;
  flex-direction:column-reverse;
  justify-content: flex-end;
  gap: 2vh;
  border-width: 1px 1px 2px 2px;
  border-bottom-left-radius: 10px;
}

.buttons-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.central-buttons-container{
  background-color: rgb(75, 73, 104);
  display: flex;
  border-color: black;
  border-style: solid;
  align-items: center;
  justify-content: space-around;
  border-width: 2px 2px 1px 1px;
  border-top-right-radius: 10px;
}

.button{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: rgb(28, 28, 37);
  color: white;
  border-width: min(.5vh, 2px);
  font-weight: bold;
  border-style: solid;
  border-radius: min(2vh, 10px);
  transition: all 0.07s;
}

.button:hover{
  background-color: rgb(73, 73, 73);
}

.central-buttons-container .button{
  height: 5.5vh;
  padding: .5vh;
  max-height: 48px;
  width: 7.5vh;
  max-width: 90px;
  font-size: min(2vh, 18px);
}

.button:active{
  background-color: rgb(153, 153, 153);
}

.calc-buttons-container{
  background-color: rgb(75, 73, 104);
  border-color: black;
  border-style: solid;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  padding: 2vh;
  border-width: 1px 2px 2px 1px;
  border-bottom-right-radius: 10px;
}

.row{
  display: flex;
  justify-content: space-around;
  gap: 2vh;
}

.calc-buttons-container .button{
  height: 6.5vh;
  max-height: 70px;
  width: 6.5vh;
  max-width: 70px;
  font-size: min(3vh, 28px);
  
}

#button-equals{
  flex-grow: 1;
  max-width: none;
}

.active{
  background-color: rgb(153, 153, 153);
}

.upper-box{
  box-sizing: border-box;
  height: 12vh;
}

.lower-box{
  box-sizing: border-box;
  height: 60vh;
}