html{
  box-sizing: border-box;
  background-color: rgb(54, 54, 54);
}

.calc-container{
  padding: 75px;
  display: flex;
}

.output-container{
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 300px;
  flex-shrink: 0;
  color: white;
  letter-spacing: 1px;
  font-weight: bold;
  background-color: rgb(50, 49, 63);
  font-size: 20px;
  text-align: right;
}

#output-current{
  height: 100px;
  flex: 1 0 auto;
  padding: 20px;
  border-color: black;
  border-style: solid;
  border-width: 2px 1px 1px 2px;
  border-top-left-radius: 10px;
}

#output-history{
  border-color: black;
  border-style: solid;
  border-width: 2px;
  padding: 20px;
  flex: 1 0 auto;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  display: flex;
  flex-direction:column-reverse;
  justify-content: flex-end;
  gap: 10px;
  border-width: 1px 1px 2px 2px;
  border-bottom-left-radius: 10px;
}

.buttons-container{
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.central-buttons-container{
  background-color: rgb(75, 73, 104);
  display: flex;
  border-color: black;
  border-style: solid;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;
  border-width: 2px 2px 1px 1px;
  border-top-right-radius: 10px;
}

.button{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: rgb(28, 28, 37);
  color: white;
  font-weight: bold;
  border-style: solid;
  border-radius: 10px;
  transition: all 0.07s;
}

.button:hover{
  background-color: rgb(73, 73, 73);
}

.central-buttons-container .button{
  font-size: 18px;
  width: 90px;
  height: 48px;
}

.button:active{
  background-color: rgb(153, 153, 153);
}

.calc-buttons-container{
  background-color: rgb(75, 73, 104);
  border-color: black;
  border-style: solid;
  flex-shrink: 0;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px;
  border-width: 1px 2px 2px 1px;
  border-bottom-right-radius: 10px;
}

.calc-buttons-container .button{
  height: 70px;
  width: 70px;
  font-size: 28px;
}

.equals{
  flex-grow: .75;
}

.active{
  background-color: rgb(153, 153, 153);
}

.upper-box{
  box-sizing: border-box;
  height: 100px;
}

.lower-box{
  box-sizing: border-box;
  height: 506px;
}